* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    line-height: 1;
    vertical-align: baseline;
    color: inherit;
    background: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}

.calculator {
    width: 300px;
    height: 450px;
    background-color: #131a19;
    display: block;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.menu {
    height: 20px;
    width: 270px;
    display: grid;
    justify-items: end;
}

.menu_button {
    height: 15px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.menu__popup {
    position: relative;
    right: 0;
    padding: 5px;
    background-color: #131a19;
    border: 1px solid #fff;
    z-index: 999;
    border-radius:  10px;
    -webkit-border-radius:  10px;
    -moz-border-radius:  10px;
    -ms-border-radius:  10px;
    -o-border-radius:  10px;
    margin-top: 10px;
    margin-right: -15px;
}

.menu__popup-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__popup-list li{
    margin: 0;
    padding: 0;
    color: #fff;
}

.menu__popup-list a {
    display: block;
    padding: 5px;
    color: #333;
    color: #fff;
    text-decoration: none;
}

.menu__popup-list a:hover {
    background-color: #f2f2f2;
}

.calculator__display{
    height: 85px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 30px;
}

.calculator__display p {
    text-align: right;
    font-size: 65px;
    margin: 0;
    color: #fff;
}

.calculator__buttons {
    display: grid;
    grid-template-areas:
    "button_c button_percent button_del button_division"
    "button_seven button_eigth button_nine button_myltiply"
    "calculator__four calculator__five calculator__six button_minus"
    "calculator__one calculator__two calculator__tree button_plus"
    "button_zero button_zero button_dot button_equal";
    grid-gap: 7px;
    justify-items: center;
}

.calculator__buttons {
    display: grid;
    grid-template-areas:
    "button_c button_percent button_del button_division"
    "button_seven button_eigth button_nine button_myltiply"
    "calculator__four calculator__five calculator__six button_minus"
    "calculator__one calculator__two calculator__tree button_plus"
    "button_zero button_zero button_dot button_equal";
    grid-gap: 7px;
    justify-items: center;
}

.calculator__button {
    width: 50px;
    height: 50px;
    background: #b2e1ec;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.calculator__button:hover {
    filter: brightness(120%);
}

.calculator__button:active {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

.calculator__button.calculator__button_grey {
    background: #a6a6a6;
}

.calculator__button.calculator__button_orange {
    background-color: orange;
}

.calculator__button.calculator__button_zero {
    grid-area: button_zero;
    width: 100%;
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
}

